{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jose's Personal Website</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'home' %}">
            <strong>Jose's Online CV</strong>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{% url 'home' %}">Home</a>
            <a class="navbar-item" href="{% url 'project' %}">Projects</a>
            <a class="navbar-item" href="{% url 'contact' %}">Contact</a>

        </div>

        <div class="navbar-end">
            <a class="navbar-item" href="https://www.linkedin.com/in/jose-davalos-40ab28191">
                <img src="{% static 'cv/images/linkedin.png' %}"/>
            </a>
            <a class="navbar-item" href="https://gitlab.com/jrmoejoe">
                <img src="{% static 'cv/images/gitlab.png' %}"/>
            </a>
            <a class="navbar-item" href="https://www.instagram.com/moejoe1996/">
                <img src="{% static 'cv/images/instagram.png' %}"/>
            </a>

        </div>
    </div>
</nav>

{% block content %}
{% endblock %}

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            Web Pages created using <strong>Bulma & Django.</strong> Copyright © 2019 to José Dávalos.
        </p>
    </div>
</footer>

</body>
</html>