{% extends 'cv/base.html' %}
{% load static %}
{% block content %}
    <section class="hero has-background-white-ter is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-5-tablet is-4-desktop is-5-widescreen">
                        <form class="box" action="{% url 'contact' %}" method="post">
                            {% csrf_token %}
                            <div class="field has-text-centered">
                                <h1 class="title has-text-centered">Contact me!</h1>
                                <img src="{% static 'cv/images/letter.png' %}" alt="">
                            </div>
                            <div class="field">
                                <label class="label">Name</label>
                                <div class="control has-icons-left">
                                    <input name='name' class="input" type="text" placeholder="e.g John Doe" required>
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Email</label>
                                <div class="control has-icons-left">
                                    <input name='email' class="input" type="email"
                                           placeholder="e.g. alexsmith@gmail.com" required>
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Subject</label>
                                <div class="control">
                                    <input name='subject' class="input" type="text" placeholder="e.g. Job Offer">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Message</label>
                                <div class="control">
                                    <textarea name='message' class="textarea" type="text"
                                              placeholder="e.g. Hi! how are you?"></textarea>
                                </div>
                            </div>
                            <div class="field has-text-right">
                                <button type="submit" class="button is-success">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
