{% extends 'cv/base.html' %}
{% load static %}
{% block content %}
    <!-- Begin Main Section -->
    <section class="hero is-medium is-bold is-dark">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="subtitle">Hello! I'm</h1>
                <h1 class="title">José Dávalos</h1>
                <h1 class="subtitle">A Computer Science Graduate.</h1>
                <span class="icon is-large">
                    <i class="fas fa-3x fa-laptop-code"></i>
                </span>
            </div>
        </div>
    </section>
    <!-- End Main Section -->

    <!-- Begin About me Section -->
    <div class="section-light">
        <div class="container">
            <h1 class="title has-text-centered">About me!</h1>

            <div class="columns is-multiline">
                <div class="column is-6 has-text-centered">
                    <p class="is-larger is-size-4">
                        <strong>
                        "If you can imagine it, you can program it..."
                        </strong>
                    </p>
                    <p class="has-text-right is-italic is-size-1">
                        -Rick Miller
                    </p>
                </div>
                <div class="column is-6 right-image">
                    <figure class="image">
                        <img class="has-shadow" src="{% static 'cv/images/computer.jpg' %}" alt="Computer image">
                    </figure>
                </div>
            </div>
        </div>
    </div>

    <!-- End About me Section -->

{% endblock %}
